<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.spring.mvn.basic.ibatis.IBatisDao">
    <!-- 根据SQL新增 -->
    <insert id="insertBySQL" parameterType="String">
        ${SQL}
    </insert>
    <!-- 根据类IBatisPageEntity新增 -->
    <insert id="insertByCondition" parameterType="IBatisTParam">
        insert into ${tableName} 
    </insert>
    <!-- 根据SQL删除 -->
    <delete id="deleteBySQL" parameterType="String">
        ${SQL}
    </delete>
    <!-- 根据IBatisPageEntity做条件删除 -->
    <delete id="deleteByCondition" parameterType="IBatisTParam">
        delete ${tableName} where 
    </delete>
   	<!-- 自定义语句查询 SQL在Java代码中组装-->
   	<select id="selectBySQL" parameterType="String" resultType="java.util.Map">
   		${SQL}
   	</select> 
   	<!-- 试探根据自定义类IBatisPageEntity在Mapper中组装SQL语句,resultType可能有问题,那就直接用Map了 -->
    <select id="selectByCondition" parameterType="IBatisTParam" resultType="IBatisTResult">
    	select * from #{tableName}
    	<where>
    		<foreach collection="${paramMap}" item="param"><!-- IBatisPageEntity中map的循环赋值 -->
    			and #{param.key} = #{param.value} 
    		</foreach>
    	</where>
    	<if test="orderColumn != null and orderColumn != ''">
    		order by #{orderColumn} #{orderTurn}
    	</if> 
    </select>
    <!-- 使用SQL计数 -->
    <select id="selectCountBySQL" resultType="Long">
    	${SQL}
    </select>
    <!-- 根据IBatisPageEntity做条件计数 -->
    <select id="selectCountByCondition" parameterType="IBatisTParam" resultType="Long">
    	select count(*) from #{tableName} where
    </select>
   	<!-- 根据SQL语句更新 -->
    <update id="updateBySQL" parameterType="String">
    	${SQL}
    </update>
    <!-- 根据IBatisPageEntity做条件更新 -->
    <update id="updateByCondition" parameterType="IBatisTParam">
    	update ${tableName} set 
    </update>
 
   
    
</mapper>
