<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.spring.mvn.core.entity.dao.CoreProductDao">
    <!-- 查询多条记录 -->
    <select id="selectCorePorductList" resultType="CoreProduct">
       select * from core_product 
    </select>
</mapper>