<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.spring.mvn.socket.entity.dao.SystemTransactionInformationDao">
     
     
    <!-- 新增一条记录 -->
    <insert id="insertSystemTransactionInformation" parameterType="SystemTransactionInformation">
      insert into sys_transaction_information(username,password,email,phone)values(#{username},#{password},#{email},#{phone})
    </insert>
     
    <!-- 删除一条记录 -->
    <delete id="deleteSystemTransactionInformation" parameterType="Integer">
      delete from sys_transaction_information where id = #{id} 
    </delete>
     
    <!-- 更新一条记录的数据 -->
    <update id="updateSystemTransactionInformation" parameterType="SystemTransactionInformation">
      update sys_transaction_information set username=#{username},password=#{password},email=#{email},phone=#{phone} where id=#{id}
    </update>
     
    <!-- 查询单条记录 -->
    <select id="selectSystemTransactionInformation" parameterType="Integer" resultType="SystemTransactionInformation">
        select * from sys_transaction_information where id = #{id} 
    </select>
     
    <!-- 查询多条记录 -->
    <select id="selectSystemTransactionInformationList" resultType="SystemTransactionInformation">
       select * from sys_transaction_information 
    </select>

</mapper>